.new-tweet {
  margin: auto;
  margin: 0 2em 2em;
  border-radius: 5px;
  padding: 0% 3%;
  background-color: #eee;
  border: 1px solid lightgray;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin-top: 3%;
}

.new-tweet .counter {
  float: right;
}

.new-tweet .negativeNum {
  color: red;
}

#tweetSubmit {
  margin-bottom: 3%;
}

#tweetSubmit textarea{
  width: 100%;
  padding: 2%;
}